2d to 3d image generator.json
{
  "name": "2d to 3d image generator",
  "nodes": [
    {
      "parameters": {
        "amount": 40
      },
      "id": "ad90b6e0-c5fe-4450-940d-b36ae05ba4bb",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2032,
        320
      ],
      "webhookId": "4d338cdb-1534-43be-97dc-070299cd6278",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "formTitle": "Shopify 3D Product Video",
        "formDescription": "Give us a product photo, title and we'll get back to you with professional marketing 3D video. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product Photo",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Product Title",
              "placeholder": "Product Title",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "5d9c9f67-e81c-4e75-9d36-b6f86fbcd180",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -176,
        208
      ],
      "webhookId": "7980414e-c599-45fe-98a7-4fd1d121154a",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Folder').item.json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "13f6d932-c918-40af-a652-88510ae8e3cb",
      "name": "Give Access to folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        496,
        208
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E45K18Btryrh8XEa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nconst items = $(\"On Form Submission\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"
      },
      "id": "a3ce2dc9-45f4-41ad-8279-a2c7353b637b",
      "name": "Get Image File",
      "type": "n8n-nodes-base.code",
      "position": [
        704,
        208
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputDataFieldName": "=no-bg.png",
        "name": "=(no-bg){{ $('Create Folder').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "1e4954cc-4fc1-4524-abe8-09bba039a9f9",
      "name": "Upload Remove BG image",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1152,
        320
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E45K18Btryrh8XEa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json['BG Remove Image']\n\n// Extract the ID using a regular expression\nconst match = url.match(/\\/d\\/([^/]+)/);\n\nreturn {\n  json: {\n    fileId: match ? match[1] : null,\n  },\n};"
      },
      "id": "9f868278-cf23-42f5-870d-1d1d511581d1",
      "name": "Extract Image ID from URL",
      "type": "n8n-nodes-base.code",
      "position": [
        1584,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "inputDataFieldName": "Video-file",
        "name": "=Video-file",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "303e5534-efb7-4390-84dc-f773099428b3",
      "name": "Upload Video",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3136,
        320
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E45K18Btryrh8XEa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.slug }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultUrl": "https://drive.google.com/drive",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "e71e1fe1-cd7c-4ccb-b929-2d7ec5a81c77",
      "name": "Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        272,
        208
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4vVWYGia9ljzWhB",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const title = $json[\"Product Title\"] || \"default\";\nconst slug = title.toLowerCase().replace(/\\s+/g, '-') + '-' + Math.random().toString(36).substring(2, 8);\nreturn { slug };\n"
      },
      "id": "4c71fb20-adcd-4304-a6ae-d09d6db1dad8",
      "name": "Create Slug",
      "type": "n8n-nodes-base.code",
      "position": [
        48,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v1/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key api_key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "A product placed on a reflective surface slowly rotates 360 degrees with dramatic studio lighting, soft shadows, and a smooth camera pan. The background is clean, minimal, and cinematic, highlighting the product’s details and elegance"
            },
            {
              "name": "image_url",
              "value": "=https://drive.usercontent.google.com/download?id={{ $json.fileId }}&export=view&authuser=0"
            }
          ]
        },
        "options": {}
      },
      "id": "fc762547-6973-4bc1-9c19-bb670c2410f3",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1808,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key api_key"
            }
          ]
        },
        "options": {}
      },
      "id": "fb564c35-76bd-490e-a563-21cd82516134",
      "name": "Check Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2256,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key api_key"
            }
          ]
        },
        "options": {}
      },
      "id": "d9fcf804-8748-4a46-a606-9c6d7078669d",
      "name": "Get Video Link",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2688,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.remove.bg/v1.0/removebg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "api_key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "size",
              "value": "auto"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image_file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "no-bg.png"
            }
          }
        }
      },
      "id": "5f7e0d13-a82b-4ce7-a7a9-bba8f89527ed",
      "name": "Remove Image Background",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        320
      ],
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "={{ $('Create Folder').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "0ad26d0a-83df-4cc1-817a-c4322545e567",
      "name": "Upload Original Image",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        928,
        112
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E45K18Btryrh8XEa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit?usp=drivesdk",
          "cachedResultName": "3D Product Video"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Slug": "={{ $('Create Slug').item.json.slug }}",
            "Product Title": "={{ $('On Form Submission').item.json['Product Title'] }}",
            "Original Image": "={{ $json.webViewLink }}"
          },
          "schema": [
            {
              "id": "Original Image",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Original Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "BG Remove Image",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "BG Remove Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Product Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Video Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d5f799e3-816e-42b9-9a1d-39d9a6826bfd",
      "name": "Insert New Product",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1152,
        112
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PfUEUwdj3VvbosXV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit?usp=drivesdk",
          "cachedResultName": "3D Product Video"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Slug": "={{ $('Create Folder').item.json.name }}",
            "BG Remove Image": "={{ $json.webViewLink }}"
          },
          "schema": [
            {
              "id": "Original Image",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Original Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "BG Remove Image",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "BG Remove Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Video Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Slug"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dbda1b70-1600-4d92-9712-88ad5949b779",
      "name": "Update Remove BG URL",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1376,
        320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PfUEUwdj3VvbosXV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ada0859-b74f-4d48-ae95-30c34340e39f",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "IN_PROGRESS"
            }
          ]
        },
        "options": {}
      },
      "id": "0ab3f233-260f-4bdd-83f8-b06959a05b16",
      "name": "Is In Progress",
      "type": "n8n-nodes-base.if",
      "position": [
        2464,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "Video-file"
            }
          }
        }
      },
      "id": "2168058d-094f-44a0-b8c5-f0197a7c771e",
      "name": "Convert to Binary File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2912,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit?usp=drivesdk",
          "cachedResultName": "3D Product Video"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18k1Gq2X2J3_cbwJ9XyJoysVuhIpWhgc1cmlTKBnB3Yw/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Slug": "={{ $('Create Folder').item.json.name }}",
            "Video Link": "={{ $('Get Video Link').item.json.video.url }}"
          },
          "schema": [
            {
              "id": "Original Image",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Original Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "BG Remove Image",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "BG Remove Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Video Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Slug",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Slug"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d10fa44f-9869-435c-a312-7c3656ab2cb7",
      "name": "Update Video Link",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3344,
        320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PfUEUwdj3VvbosXV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "Product Video",
        "message": "=<p>Hi there! 👋</p>\n\n<p><b>We’re excited to share our latest product video with you! 🎉<b></p>\n\n<p>Watch it here to see the product video you’ll love:<br>\n<a href=\"{{ $('Get Video Link').item.json.video.url }}\">{{ $('Get Video Link').item.json.video.url }}</a></p>\n\n<p>Don’t miss out—this could be just what you’ve been looking for! ✨</p>\n\n<p><b>Thanks for being part of our community! 🙌<b></p>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "552062cf-44c5-4648-99fc-af9e35949fff",
      "name": "Send E-Mail Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3568,
        320
      ],
      "webhookId": "346e7266-8fb6-4b86-9b32-2ca6c1258566",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qC4ro1PE9G4gaGeb",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Slug": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Update Video Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Give Access to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image File": {
      "main": [
        [
          {
            "node": "Upload Original Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Image Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Link": {
      "main": [
        [
          {
            "node": "Convert to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is In Progress": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Link": {
      "main": [
        [
          {
            "node": "Send E-Mail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Is In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Form Submission": {
      "main": [
        [
          {
            "node": "Create Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Remove BG URL": {
      "main": [
        [
          {
            "node": "Extract Image ID from URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Give Access to folder": {
      "main": [
        [
          {
            "node": "Get Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Original Image": {
      "main": [
        [
          {
            "node": "Insert New Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary File": {
      "main": [
        [
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Remove BG image": {
      "main": [
        [
          {
            "node": "Update Remove BG URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Image Background": {
      "main": [
        [
          {
            "node": "Upload Remove BG image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image ID from URL": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02a635dd-d6be-40ed-bc6c-f431915133e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cffc3efbde04790cdd3aab51e160a1d166f1d7b76d9414120d05f10a1d24cfc"
  },
  "id": "c3BtKtLKbAAsUtHF",
  "tags": []
}